/**
 *
 * Additional code added by ethier, beyond standard abigen output.
 *
 */

const (
    // SolCVersion is the version of the Solidity compiler used to create this
    // file.
    SolCVersion = {{quote .Version}}
)

func init() {
    {{- range $i, $file := .SourceList }}
    solidity.RegisterSourceCode({{quote $file}}, {{quote (index $.SourceCode $i)}}, {{(index $.IsExternalSource $i)}})
    {{- end }}

    {{range $src, $c := .Contracts }}
    solidity.RegisterContract(
        {{quote $src}},
        &compiler.Contract{
            Code: {{quote $c.Code}},
            RuntimeCode: {{quote $c.RuntimeCode}},
            Info: compiler.ContractInfo{
                SrcMapRuntime: {{quote $c.Info.SrcMapRuntime}},
            },
        },
        {{stringSlice $.SourceList}},
    )
    {{- end }}
}
